<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.francis.dh.system.mapper.UserMapper">
    <resultMap id="UserWithRole" type="org.francis.dh.common.core.entity.User">
        <id property="id" column="uid"/>
        <result property="email" column="email"/>
        <result property="password" column="password"/>
        <result property="nickName" column="nickname"/>
        <result property="email" column="email"/>
        <result property="phone" column="phone"/>
        <result property="userEnabled" column="user_enabled"/>
        <result property="gmtCreate" column="gmt_create"/>
        <collection property="roles" ofType="org.francis.dh.common.core.entity.Role">
            <id property="id" column="rid"/>
            <result property="name" column="rname"/>
            <result property="zhName" column="rzhname"/>
        </collection>
    </resultMap>
    <sql id="UserWithRole">
        SELECT u.id AS uid,
               u.email,
               u.phone,
               u.password,
               u.nick_name AS nickname,
               u.user_enabled,
               u.gmt_create,
               r.id AS rid,
               r.`name` AS rname,
               r.zh_name AS rzhname
        FROM sys_user u
                 LEFT JOIN sys_user_role ur ON ur.user_id = u.id
                 LEFT JOIN sys_role r ON r.id = ur.role_id
    </sql>
    <select id="getUserByUsername" resultMap="UserWithRole">
    <include refid="UserWithRole"/>
        WHERE u.email=#{username}
    </select>
</mapper>
